@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin-bottom: 0px !important;
}

body{
    width: 100%;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-family: 'Righteous', cursive;
}

.bg{
    background: linear-gradient(rgba(0, 0, 0, 0.600),rgba(0, 0, 0, 0.436),rgba(0, 0, 0, 0.568)) ,  url(./Images/3d.jpg); ;
    height: 100vh;
    width: 100%;
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}


/* top button */

.to-top {
    background:#1f1f1f;
    position: fixed;
    bottom: 16px;
    right:16px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color: white;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    z-index: 30;
  }
 
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }



/* navbar */
 
.navbar{
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed !important;
    top: 0 !important;
    width: 100vw;
    z-index: 100;
    transition: 20s all;
} 

.navbar_span{
    font-size: 30px;
    font-family: 'Righteous', cursive;
    color: rgba(255, 0, 0, 0.696);
    cursor: pointer;
}

.navbar_span_1{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s ;
}

.nav-link{
    font-size: 20px;
    color: white!important;
    font-weight: 600;
}

.links{
    color: rgba(255, 0, 0, 0.854) !important;
    /* background: rgba(255, 255, 255, 0.374); */
}




/* animation */

.ball{
    height: auto;
    width: 80%;
    animation: ball 15s infinite linear;
    transition: 0.5s all;
}

@keyframes ball {
    100%{
        transform: rotate(-360deg);
    }
}


/* about us */

.about{
    font-size: 70px;
}


/* background image 2 */

.bg_2{
    background: url(./Images/boom\ boom.gif) ;
    height: 40vh;
    width: 100%;
     background-repeat: no-repeat;   
     background-position: center;
     background-size: contain;
}
 

.bg_3{
    background: url(./Images/hardik-pandya.gif) ;
    height: 40vh;
    width: 100%;
     background-repeat: no-repeat;   
     background-position: center;
     background-size: contain;
}

.bg_4{
    background: url(./Images/rk1.gif ) ;
    height: 40vh;
    width: 100%;
     background-repeat: no-repeat;   
     background-position: center;
     background-size: contain;
}

.bg_5{
    background-color:#1f1f1f;
    color: white;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 

@media screen and (max-width: 400px) {
    .links_1{
        display: none;
    }
}

@media screen and (max-width:700px) {
.bg{
    height: 86vh;
}   

.bg_2 , .bg_3 ,.bg_4 ,.bg_5{
    width: 100%;
    background-size: cover;
}

.card-1{
    border: 1px solid rgba(0, 0, 0, 0.322);
    padding: 15px;
}

.onop{
    text-align: center;
}

 
    
}
